@font-face{
    font-family: 'BebasNeue-Bold';
    src: '../fonts/BebasNeue/BebasNeue-Bold.ttf'
}

@font-face{
    font-family: 'BebasNeue-Regular';
    src: '../fonts/BebasNeue/BebasNeue-Regular.ttf'
}