@import './variables.scss';
@import './fonts.scss';

* {
  margin: 0;
  padding: 0;
}

@keyframes loader{
    90%{
        opacity: 0;
        z-index: 111;
    }
    100%{
        opacity: 0;
        z-index: -111;
    }
}

@keyframes resetTop{
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn{
    to {
        opacity: 1;
    }
}


body{
    // font-family: 'BebasNeue-Regular' ,sans;
    font-family: 'Playfair Display', serif;
    background: $black;
    img{
        max-width: 100%;
    }
    ul{
        list-style: none;
        a{
            text-decoration: none;
            display: inline-block;
        }
    }
}

.wrapper{
    width: 100vw;
    height: 100vh;
    .container{
     max-width: 1200px;
     width: 100%;
     padding: 30px 20px;
     margin: 0 auto;
    }
    .loader{
        width: 100vw;
        height: 100vh;
        background: $black;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        z-index: 111;
        animation: loader 1s ease-in-out 4s forwards;
        img{
            margin: auto;
            height: 280px;
        }
    }
    header{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: space-between;
            padding: 7px 40px 7px 6px;
            z-index: 11;
        .logo{
            width: 90px;
            height: 90px;
        }
        nav{
            ul{
                display: grid;
                grid-template-columns: repeat(4,auto);
                li{
                    a{
                        padding: 10px 20px;
                        color: $white;
                        transition: transform .24s ease-in-out;
                        &:hover{
                            transform: rotate(-10deg) translate(-10px, 10px);
                        }
                    }
                }
            }
        }
    }
    main{
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
        &>:first-child{
            background-color: $pink;
            animation: resetTop .25s ease-in-out 5s forwards;
            transform: translateY(100%);
        }
        &>:last-child{
            background-color: $black;
        }
        .central-img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            .img{
                // animation: resetTop .3s ease 5.1s forwards;
                animation: resetTop .5s ease 5.1s forwards;
                transform: translateY(-100%);
                height: auto;
                width: 55vw;
                img{
                    max-width: 100%;
                }
            }
            .name{
                position: absolute;
                top: 21%;
                left: 48%;
                z-index: 1111;
                color: $white;
                width: auto;
                font-size: 4vw;
                text-align: center;
                p{
                    overflow: hidden;
                    span{
                        display: block;
                        transform: translateY(100%);
                        animation: resetTop .6s ease forwards;
                        animation-delay: 5.3s;
                    }
                }
                // &>:nth-child(2){
                //     span{
                //         animation-delay: 5.37s;
                //     }
                // }
                &>:last-child{
                    span{
                        animation-delay: 5.44s;
                    }
                }
            }
        }
        .description{
            color: $white;
            text-align: center;
            text-transform: uppercase;
            opacity: 0;
            animation: fadeIn .5s ease-in-out forwards;
            animation-delay: 6.2s;
            position: absolute;
            top: 84%;
            left: 50%;
            transform: translateX(-50%);
            width: 60vw;
        }
    }
}